*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    color: #f5f5f7;
}

body{
    background-color: #000;
    max-width: 1600px;
    margin: 0 auto;
}

main{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
}

/*Formatting*/

h1{
    font-size: 81px;
    letter-spacing: -1.5px;
    line-height: 100%;
}

h2{
    font-size: 34px;
    letter-spacing: -0.5px;
}

h3{
    font-size: 26px;
    font-weight: 600;
}

p{
    font-size: 22px;
    font-weight: 500;
    color:#A1A1A6;
}

p em{
    color:#fff;
}

.logo{
    font-weight: 500;
}

.cta_button{
    background-color: white;
    padding: 4px 8px;
    color: black;
    border-radius: 50px;
    max-width: 250px;
    cursor: pointer;
}

.cta_button:hover{
    background-color: rgb(0, 102, 255);
    color: white;
    transition: 0.4s;
}

.link{
    color: rgb(99, 162, 255);
}

.link:hover{
    transition: 0.5s;
    text-decoration: underline;
}

hr{
    border: 1px solid #666666;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 34px;
        letter-spacing: -0.5px;
    }

    h2{
        font-size: 24px;
        letter-spacing: -0.25px;
    }
    
    h3{
        font-size: 20px;
    }
    
    p{
        font-size: 16px;
        font-weight:600 ;
    }
    
    p em{
        font-size: 16px;
        font-weight:600 ;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) { 
    h1{
        font-size: 41px;
    }

    h2{
        font-size: 27px;
        letter-spacing: -0.5px;
    }
    
    h3{
        font-size: 20px;
    }
    
    p{
        font-size: 18px;
    }
    
    p em{
        font-size: 20px;
        font-weight:600 ;
    }
}

@media only screen and (min-width: 900) and (max-width: 1200px) {
    h1{
        font-size: 61px;
    }

    h2{
        font-size: 34px;
        letter-spacing: -0.25px;
    }
    
    h3{
        font-size: 20px;
    }
    
    p{
        font-size: 20px;
    }
    
    p em{
        font-size: 20px;
        font-weight:600 ;
    }
}


/**Navbar*/
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    border-bottom: solid 0.5px #404040;
}

.navbar ul{
    max-width: 1600px ;
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Banner a remonter*/

header{
    padding-top: 5%;
    max-height: 1000px;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.banner h1{
    padding: 50px 0;
}

.banner img{
    max-width: 1100px;
}

.label_content ul{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
}

  .label{
    margin: 0 10px 5px 0;
    padding: 5px 10px;
    border: solid 1px #707070;
    border-radius: 50px;
}

.label:hover{
    background-color: #ffffff;
    color: black;
    transition: ease-out 0.2s;
}

/*Text template*/

.text_template{
    display: flex;
    line-height: 200%;
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.6s ease;
}

.text_template.active{
    transform: translateY(0px);
    opacity: 1;
}

.text_template.reverse{
    display: flex;
    flex-direction: row-reverse;
}

.text_left{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_right{
    width: 70%;
}

.text_left p{
    padding-right: 5%;    
}

.text_template.reverse .text_left .text_content {
    padding-left: 5%;
}

.text_template.reverse .text_left .text_content, .text_template .text_right .text_content{
    padding-right: 0%;    
}

.text_template{
    display: flex;
    padding: 5% 0;
    line-height: 200%;
}

.text_template .h2{
    padding-top: 3%;
}

.text_template .reverse{
    display: flex;
}

.text_template.reverse.row{
    display: flex;
    flex-direction: row-reverse;
}

.text_template{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  .text_template.active{
    transform: translateY(0px);
    opacity: 1;
  }


@media only screen and (max-width: 600px) {
    .text_template, .text_template.reverse{
        flex-direction: column;
    }

    .text_left, .text_right{
        width: 100%;
        padding-bottom: 15px;
    }

    .text_template.reverse .text_left .text_content {
        padding-left: 0;
    }
}

@media only screen and (max-width: 900px) {
    .text_template.reverse.row{
        display: flex;
        flex-direction: column-reverse;
    }

    .text_template.reverse {
        flex-direction: column-reverse;
    }

    .text_template.reverse .text_left .text_content {
        padding-left: 0%;
    }
}

.text_left{
    width: 30%;
    padding-right: 2.5%;
}

.text_right{
    width: 70%;
    flex-direction: column;
}

.text_left p{
    padding: 5% 0;
}
@media only screen and (max-width: 900px) {
.text_template{
    flex-direction: column;
}

.reverse{
    flex-direction: column-reverse;
}

.text_left, .text_right{
    width: 100%;
    padding: 5%;
}
}

/*Column*/
.text_column{
    margin-bottom: 8%;
}

.text_column ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text_column li{
    width: 30%;
}

@media only screen and (max-width: 900px) {
    .text_column li{
        width: 100%;
        margin-bottom: 5%;
    }
}

.text_right.two{
    background: linear-gradient(to right, #f16b12, #ff00bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_right.three{
    background: linear-gradient(to right, #18bb5c, #e2f10c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    background-color: #111;
    width: 100%;
}

footer .text_template{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
}